<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
<div class="menu-box">
    <div class="web-box">
        <img class="web-name" src="favicon.ico">
        <p class="web-name">Simran's Salon</p>
    </div>
    <nav class="nav-box">
        <button class="nav-item" routerLink="/home" mat-button  >Home</button>
        <button class="nav-item" routerLink="/booking" mat-button >Booking</button>
        <button class="nav-item" routerLink="/gallery" mat-button >Gallery</button>
    </nav>
</div>

<router-outlet></router-outlet>





