<div class="total-flex">
    <div class="first-flex">
        <div class="word-flex">
            <p class="word-item">Welcome to Simran's Salon</p>
        </div>
        <div class="image-flex">
            <img class="image-item" src="../../assets/IMG_0154.jpg">
        </div>
    </div>
    <div class="second-flex">
        <div class="card-flex">
            <mat-card class="card-item">
                <mat-card-header>
                    <mat-card-title>One Color Full Set Acrylic</mat-card-title>
                    <mat-card-subtitle>Glossy/Matte Topcoat</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/IMG_1179.jpg">
                <mat-card-content class="card-cont">
                    <p>2 hours and includes cuticle cleanup</p>
                    <ul>
                        <li>Short/Medium: $55</li>
                        <li>Long: $60</li>
                        <li>XLong: $65</li>
                        <li>XXLong: $70</li>
                    </ul>
                </mat-card-content>
                <button mat-button (click)="sendArc()">Book This</button>
            </mat-card>

            <mat-card class="card-item">
                <mat-card-header>
                    <mat-card-title>One Color Full Set Dip</mat-card-title>
                    <mat-card-subtitle>Glossy/Matte Topcoat</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/IMG_1179.jpg">
                <mat-card-content class="card-cont">
                    <p>2 hours and includes cuticle cleanup</p>
                    <ul>
                        <li>Short/Medium: $45</li>
                        <li>Long: $50</li>
                        <li>XLong: $60</li>
                        <li>XXLong: $65</li>
                    </ul>
                </mat-card-content>
                <button mat-button (click)="sendDip()">Book This</button>
            </mat-card>

            <mat-card class="card-item">
                <mat-card-header>
                    <mat-card-title>One Color Full Set Gel</mat-card-title>
                    <mat-card-subtitle>Glossy/Matte Topcoat</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/IMG_1179.jpg">
                <mat-card-content class="card-cont">
                    <p>2 hours and includes cuticle cleanup</p>
                    <ul>
                        <li>Short/Medium: $55</li>
                        <li>Long: $60</li>
                        <li>XLong: $65</li>
                        <li>XXLong: $70</li>
                    </ul>
                </mat-card-content>
                <button mat-button (click)="sendGel()">Book This</button>
            </mat-card>

            <mat-card class="card-item">
                <mat-card-header>
                    <mat-card-title>Modern French / V-French Tip</mat-card-title>
                    <mat-card-subtitle>Glossy/Matte Topcoat</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/IMG_1179.jpg">
                <mat-card-content class="card-cont">
                    <p>2.5 hours and includes cuticle cleanup</p>
                    <ul>
                        <li>Short/Medium: $65</li>
                        <li>Long: $70</li>
                        <li>XLong: $75</li>
                        <li>XXLong: $80</li>
                    </ul>
                </mat-card-content>
                <button mat-button (click)="sendFrench()">Book This</button>
            </mat-card>

            <mat-card class="card-item">
                <mat-card-header>
                    <mat-card-title>Simran's Salon Freestyle</mat-card-title>
                    <mat-card-subtitle>Glossy/Matte Topcoat</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/IMG_1179.jpg">
                <mat-card-content class="card-cont">
                    <p>3.5 hours and includes cuticle cleanup</p>
                    <ul>
                        <li>Short/Medium: $75</li>
                        <li>Long: $90</li>
                        <li>XLong: $105</li>
                        <li>XXLong: $115</li>
                    </ul>
                </mat-card-content>
                <button mat-button (click)="sendFree()">Book This</button>
            </mat-card>

        </div>
    </div>
</div>

