.grid-container{
    display: grid;
    grid-template-areas: "h i";
    grid-template-columns: repeat(2, 50%);

    height: 95vh;

    .header-container{
        display: flex;
        grid-area: h;
        justify-content: center;
        align-items: center;


        font-family: 'Shadows Into Light', cursive;
        font-size: 200px;
        line-height: 200px;
        text-align: center;
        animation: bringToLife 2s;  
        filter: drop-shadow(3px 3px 2px gray);      

    }

    @keyframes bringToLife{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    .image-container{
        display: flex;
        grid-area: i;
        overflow: hidden;

        justify-content: center;
        align-items: center;
        

    }

    .image-item{
        height: 900px;
        width: 850px;
        border: 1px solid black;
        filter: drop-shadow(1px 1px 5px gray);
        animation: moveMe 1s;
    }

    @keyframes moveMe{
        0%{
            margin-left: 200px;
        }
        100%{
            margin-left: 0px;
        }
    }

    
}


