.total-flex{
    width: 100%;
    height: 2000px;

    display: flex;
    flex-direction: column;
    background-image: url("../../assets/background.jpg");
    

  

    .first-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: inherit;
        height: 1000px;

        justify-content: space-around;
        align-items: center;

        .word-flex{
            display: flex;
            width: 800px;
            height: 60%;
            border-radius: 10px;
            background: linear-gradient(to left, white, #EED6D3);
            box-shadow: 1px 1px 10px black;
            color: #343434;
            animation: bringToLife 1s;
            
            

            justify-content: center;
            align-items: center;

            .word-item{
                font-family: 'Shadows Into Light', cursive;
                font-size: 180px;
                text-align: center;
                line-height: 160px;
            
            }

            @keyframes bringToLife {
                0%{
                    opacity: 0;
                }
            }

        }

        .image-flex{
            display: flex;
            width: 700px;
            height: 75%;
            background: linear-gradient(to left, white, #EED6D3);
            box-shadow: 1px 1px 10px black;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            

            .image-item{
                width: 95%;
                height: auto;
                padding: 10px;
                filter: drop-shadow(2px 2px 5px black);

            }
        }        

    }

    .second-flex{
        display: flex;
        flex-direction: row;

        width: inherit;
        height: 1000px;
        

    }
}


//Resize for the phone
@media only screen and (max-width: 1500px){
    .total-flex{

        .first-flex{
            height: 1000px;

            .word-flex{
                margin-top: 10px;
                height: 30%;
                width: 60%;

                .word-item{
                    font-size: 140px;
                    line-height: 130px;
                }
            }

            .image-flex{
                height: 60%;
                width: 42%;
                overflow: hidden;


                .image-item{
                    padding: 20px;
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px){
    .total-flex{

        .first-flex{
            height: 1000px;

            .word-flex{
                margin-top: 10px;
                height: 30%;
                width: 60%;

                .word-item{
                    font-size: 120px;
                    line-height: 110px;
                }
            }

            .image-flex{
                height: 60%;
                width: 50%;
                overflow: hidden;


                .image-item{
                    padding: 20px;
                    width: 85%;
                    height: auto;
                }
            }
        }
    }
}


@media only screen and (max-width: 1050px){
    .total-flex{

        .first-flex{
            height: 1000px;

            .word-flex{
                margin-top: 10px;
                height: 30%;
                width: 60%;

                .word-item{
                    font-size: 110px;
                    line-height: 90px;
                }
            }

            .image-flex{
                height: 45%;
                width: 46%;
                overflow: hidden;


                .image-item{
                    padding: 20px;
                    width: 81%;
                    height: auto;
                }
            }
        }
    }
}


@media only screen and (max-width: 800px){
    .total-flex{

        .first-flex{
            height: 900px;

            .word-flex{
                margin-top: 10px;
                height: 30%;
                width: 60%;

                .word-item{
                    font-size: 85px;
                    line-height: 80px;
                }
            }

            .image-flex{
                height: 40%;
                width: 50%;
                overflow: hidden;


                .image-item{
                    padding: 20px;
                    width: 85%;
                    height: auto;
                }
            }
        }
    }
}




//Resize for the phone
@media only screen and (max-width: 600px){
    .total-flex{

        .first-flex{
            height: 700px;

            .word-flex{
                margin-top: 10px;
                height: 30%;
                width: 70%;

                .word-item{
                    font-size: 70px;
                    line-height: 55px;
                }
            }

            .image-flex{
                height: 50%;
                width: 70%;
                overflow: hidden;


                .image-item{
                    width: 90%;
                    height: auto;
                }
            }
        }
    }
}