.grid-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 95vh;
    z-index: -2;

    .header-container{
        width: 50%;
        font-size: 200px;
        font-family: 'Shadows Into Light', cursive;
        line-height: 180px;
        text-align: center;
    }

    

    .image-container{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .image-item{
        margin: 100px;
        width: 42vw;
        height: auto;
        border: 1px black solid;
        box-shadow: 1px 1px 10px black;
       
    }


}


.section-flex{
    height: 95vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: pink;

    .section-container{
        height: 90%;
        width: 90%;
        background-color: plum;
    }

}

