.total-flex{
    display: flex;
    justify-content: center;
    background-image: url("../../assets/background.jpg");

    width: 100%;
    height: 95vh;
  

    .left-flex{
        display: flex;
        
        width: 400px;
        height: 100%;

        flex-direction: column;
        align-items: center;

        background-color: #f5eceb;
        filter: drop-shadow(1px 1px 5px black);


        .left-flex-header{
            width: 90%;
            height: 15%;
            display: flex;
            justify-content: center;
            align-self: center;

            .book-header{
                margin-top: 30px;
                font-size: 30px;
                font-family: 'Raleway', sans-serif;
                line-height: 30px;
                text-align: center;
            }

        }

        .left-flex-body{
            .form-group{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                mat-form-field{
                    width: 300px;
                    font-family: 'Raleway', sans-serif;
                    padding: 4px;

                }

                mat-label{
                    color: black;
                    font-size: 18px;
                }

                button{
                    font-size: 20px;
                    font-family: 'Raleway', sans-serif;
                    border: 1px black solid;



                }

              
                
            }
        }
    }
}